/*-- scss:defaults --*/
$body-bg: #fff !default;
$body-color: #1E1E1E !default;
$link-color: #03A062 !default;
$font-family-sans-serif: arial, "open sans", "helvetica neue", helvetica, sans-serif !default;
$mermaid-font-family: arial;

$presentation-title-slide-text-align: "left";
/*-- scss:rules --*/

.reveal .title {
  color: #ffffff;
  font-size: 2.0em;
  font-weight: 200;
  position: absolute;
  bottom: 0px;
  left: 300px;
  text-align: left;
}

.reveal .quarto-title-author-name {
    font-size: 1.0em;
}

.reveal .quarto-title-authors {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 150;
  position: relative;
  top: 250px;
  left: 300px;
  text-align: left;
}
